.spinme{
    animation: rotate-center  linear 8s 2;
    display:inline-block;

    @keyframes rotate-center{
        0%{
            transform:rotate(0);

        }

        100%{
transform:rotate(360deg);


        }
    }

.bounceme{

    animation: bounce ease 2s 3;
    display:inline-block
}


@keyframes bounce{


    0%{
        transform:scale(1,1) translateY(0);

    }
10%{
    transform:scale(1.1,0.9) translateY(0);

}

30%{
    transform:scale(1,1) translateY(-6rem);

}

50%{
    transform:scale(1,1) translateY(0);

}


}


.scaleme{

animation: scale ease 2s infinite;
display:inline-block;


}

@keyframes scale{
    0%{
        transform:scale(1,1);

    }

    20%{
        transform: scale(1.1,1.1);

    }

    40%{
        transform: scale(1.2,1.2);

    }

    60%{
        transform:scale(1.1,1.1);
    }

    80%{
        transform:scale(1,1);

    }

}



.rollmeleft{
    animation:rolleft ease 8s 1;
    display:inline-block;

}

@keyframes rolllleft{
    from{
        transform:trans
    }
}


}