
.primary{
    background:var(--primary);
    color:var(--onprimary);

}
.secondary{
    background:var(--secondary);
    color:var(--onsecondary);
}
.tertiary{
    background:var(--tertiary);
    color:var(--ontertiary);
}
.page{
    background:var(--page);
    color:var(--onpage);
}
*{
    margin:0rem;
    padding:0rem;
    box-sizing:border-box;

}
html,
body{
    width:100%;
margin:0rem auto;
background:var(--page);
color:var(--onpage);
font:var(--onpage);
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:space-between;
}

body{
    background-size:cover;
}
main{
    background:var(--primary); 
    color:var(--onprimary);
    margin:0 auto;
    min-width:25rem;
    max-width:70rem;
    padding:0;
    padding-top:0.5rem;
    margin-bottom:1em;
}

header,
footer{
    text-align:center;
    width:100%;
    margin:0;
    min-height:3rem;
    padding-top: 1rem;
    padding-bottom:1rem;

}

section{
    padding:1rem 2rem;
    margin:1rem auto;

}
.border-bottom{
    border-bottom:20px solid var(--detail);
}
 .border-top{
    border-top:10px solid var(--detail2);

 }
 .transparent{
    opacity:0.95;

 }
 h1{
    font:var(--header-font);
    padding:2rem;
    margin:0;
 }
 h2{
    font:var(--title-font);
text-align:center;
padding:1.5rem;
 }
 strong{
    color:var(--detail2);
    font-weight:bold;
 }
ol,ul{
    display:inline-block;
    text-align:left;
    padding-left:2rem;

}
p{
    padding:1rem 1rem;
}
a:link,
a:visited{
    font-weight:bold;
    color:inherit;
}
.xcenter{
    text-align:center;
}
ycenter{
    display:flex;
    justify-content:center;
    flex-flow:column;

}

.wrap{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    box-sizing:boxing-box;
    gap:0rem 0rem;
}
.dashed-border{
    border:0.25rem dashed var(--detail2);
}
.solid-border{
    border:0.25rem solid var(--detail2);

}
.wrap>div{
    width:14rem;
    padding:0rem;
}
.wrap>img{
    width:14rem;
    display:block;
}

.wrap>p,
.wrap > span{
width:14rem;
display:block;

}
.bigfont{
    font-size:3rem;
}
.hugefont{
    font-size:6rem;
    text-align:center;
    padding:1rem;
}
.wrap .narrow{
    width: 20rem;

}
.wrap .wide{
    width:20rem;

}
blockquote{
    font:var(--quote-font);
color:var(--detail);
text-align:center;
padding:0rem;
max-width:25rem;
}
.cite{
    color:var(--detail);
    font-size:small;

}
.tile{
    height:9.4rem;
}
.rounded{
    border-radius:1rem;
}
.gradient{
    background-image:linear-gradient(
        to bottom right,
        var(--secondary),
var(--detail)
    );
    color:var(--onsecondary);
}
.gradient2{
    background-image:linear-gradient(
        to top right,
        var(--tertiary),
        var(--detail2)
    
    );
    color:var(--ontertiary);
}
.shadow{
    box-shadow:5px 5px 3px 0px #888888;

}
.wrap .card{
    width:12rem;
    height:12rem;
    border:0.1rem solid transparent;
}
.card-content{
    position:relative;
    width:100%;
    height:100%;
    text-align:center;
    transition:transform 1s ;
    transform-style:preserve-3d;
    perspective:60rem;

}
.card:hover .card-content{
    transform:rotateY(180deg);
}
.card-face{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
}

.card p{
    padding:0.5rem;
}
.photo{
    border:1px solid #D0D0D0;
    width:14rem;
    height:15rem;
    background:#ffffff;
    padding-top:1rem;
    padding-left:1rem;
    padding-right:3rem;
    box-shadow:8px 8px 10px 4px #888888;
    transform:rotate(3deg);

}

